body{
    display:flex;
    flex-direction: column;
    flex:1;
}

.right img{
    width:550px;
    height:300px;
    padding:20px;
}


.containerOne{
    background-color: #1F2937;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
header{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap:50px;
}

#buttonOne{
    border-radius:8px;
    padding:6px;
    width:100px;
    text-align: center;
    color:#E5E7EB;
    background-color: #3882F6;
    border-color:#1F2937;
}
.left{
    margin-left:100px;
    margin-bottom:100px;
}
.right{
    margin-right:100px;
    justify-content: right;
    margin-bottom:100px;
}
.left .paragraphOne{
    font-size:48px;
    font-weight: extra-bold;
    color:#F9FAF8;
    margin-bottom:10px;
    margin-top:30px;
}
.left .randomFact{
    font-size:18px;
    color:#E5E7EB;
    margin-bottom:10px;
}
.logo{
    color:#F9FAF8;
    font-weight: bold;
    font-size: large;
    margin-bottom:100px;
}
.below .left .paragraphOne{
    font-size:48px;
    font-weight:extra-bold;
    color:#F9FAF8;
}
.below .left .randomFact{
    font-size: 18px;
    color:#E5E7EB;
    width:150px;
}


.containerTwo{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:70px;
}
.containerTwo img{
    height:150px;
    width:150px;
    border-radius:25px;
}
.FourImages{
    display:flex;
    gap:100px;
    margin-bottom:150px;
}
.FourImages .text{
    font-weight: bold;
}


.containerThree{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
}
.placement{
    display:flex;
    flex-direction: column;
    justify-content: right;
}
.randomInformation{
    font-size:36px;
    font-weight:extra-bold;
    color:#1F2937;
}
.funnyFact{
    display:flex;
    width:700px;
}
.quote{
    font-size:36px;
    font-family:"light italic";
    color:#1F2937;
    margin-bottom: -5px;
    margin-top:70px;
}
.source{
    display:flex;
    justify-content: right;
    margin-top:10px;
}
.source #link{
    font-size:large;
    font-weight:bold;
    color:black;
    margin-bottom:70px;
}


.containerFour{
    display:flex;
    height:400px;
    justify-content: center;
    align-items: center;
}
.inspiringAction{
    display:flex;
    flex-direction: row;
    padding: 50px 30px;
    justify-content: center;
    width: 800px;
    height:100px;
    padding:0;
}
.buttonSignUp{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left:120px;
}
#buttonTwo,
.inspiringAction{
    background-color: #3882F6;
}
#buttonTwo{
    border-color:#F9FAF8;
    border-radius:8px;
    height:30px;
    color:#E5E7EB
}
#first{
    color:#E5E7EB;
    font-weight:bold;
    font-size:20px;
}
#second{
    color:#E5E7EB;
}


.CopyrightStuff{
    background-color: #1F2937;
    color:lightsteelblue;
    display:flex;
    justify-content: center;
}

ul{
    list-style:none;
    font-family:"Hero Main text";
    display:flex;
    gap:10px;
    margin-bottom:100px;
    justify-content: space-around;
    padding:8px;
}

a:link{
    color:lightsteelblue;
    text-decoration:none;
}
a:visited{
    color:lightsteelblue;
    text-decoration:none;
}
a:hover{
    color:lightsteelblue;
    text-decoration:none;
}
a:active{
    color:lightsteelblue;
    text-decoration:none;
}